.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f5f9;
}
.card {
    width: 420px;
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
    text-align: center;
}
h1 {
    color: #1e3a8a;
    margin-bottom: 30px;
}
.senha-atual {
     background: #eff6ff;
     padding: 25px;
     border-radius: 12px;
     margin-bottom: 25px;
}
.senha-atual h2 {
    color: #475569;
}
.codigo {
    font-size: 48px;
    font-weight: bold;
    color: #1e3a8a;
    margin: 10px;

}
.status {
    font-size: 22px;
    font-weight: bold;
    color: #16a34a;;
}
.data {
   color: #64748b;

}
.botoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.chamar {
    background:  #2563eb;
     color: white;
}
.chamar:hover {
    background: #1d4ed8;
}
.finalizar {
     background: #1e40af;
    color: white;
}
.finalizar:hover {
     background: #1e3a8a;

}
 

 